<!-- email_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Email</title>
</head>
<body >
    <h1 style="background-color:  #87CEEB;">Hello {{first_name}},</h1> 
    <p >I hope this message finds you in peace and blessings! </p>

    <p style="padding-top: 20px;">

        &nbsp; &nbsp; &nbsp; &nbsp; {{body}}
    </p>

    <p style="color: black;">
        Fell free to <a href="https://www.allahunurualanuru.com/contact">contact us</a> with any questions or visit our <a href="https://www.allahunurualanuru.com">website</a> for more information.
    </p>
</body>
</html>
