{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{% if msg %}
{{msg}}
{% endif %}
<div class="cus_body">
<h1>
    Welcome Administrator {{request.user.username}}...
</h1>
<b>
    <p>
        From this panel, you can send newsletter and materials to all your email suscribers in form of bc.
    </p>
</b>
<p>
    Please, make sure you fill all fields before hitting send to avoid any errors.
</p>

<form action="{% url 'nuru:mailer' %}" method="post">
    {% csrf_token %}
    <input class="form-control" type="text" placeholder="Enter email subject" name="subject"/> <br>
    <label for="body">Email body:</label>
    <textarea class="form-control" name="body" id="body" rows="50" cols="50" placeholder="Email Body">

    </textarea>

    <button type="submit" class="btn btn-primary">
        Send mail
    </button>
</form>
</div>

{% endblock %}